.flyer {
  padding: 3%;
  margin: 18px 0px;
  height: 300px;
  border-radius: 3px;
  box-shadow: 1px 3px 6px #ccc;
  background: url("./img/background1.jpg");
}

.flyer .title {
  color: aliceblue;
  text-shadow: 1px 1px 6px #000;
  width: 50%;
}

.flyer .text {
  width: 50%;
  text-shadow: 1px 1px 6px #000;
  font-size: 18px;
  color: aliceblue;
}

.about {
  background: rgb(239, 239, 239);
  padding: 3%;
  border-radius: 3px;
}

.about p {
  text-align: justify;
}
